<div class="container mt-5">
    <h1>Employee detail</h1>
    <div class="card" style="width: 30rem;">
        <img class="card-img-top" src="../assets/employees.jpg" alt="Card image cap">
        <div class="card-body">
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><em><b>First Name : </b></em> {{employee.firstName}}</li>
            <li class="list-group-item"><em><b>Last Name : </b></em> {{ employee.lastName }}</li>
            <li class="list-group-item"><em><b>E-mail address : </b></em> {{ employee.emailID }} </li>
            <li class="list-group-item"><em><b>Start date of work : </b></em> {{ employee.createdTime }} </li>
        </ul>
    </div>
</div>