#icons {
    font-size: 30px;
}

#icons a {
    color: whitesmoke;
}

.footer {
    position: fixed;
    z-index: 999;
    height: 8rem;
    bottom: 0;
    width: 100%;
    color: whitesmoke;
    background-color: #007BFF;
    text-align: center;
}