table tbody tr td button {
    text-align: center;
    border-radius: 3px;
    padding: 6px;
    transition: padding 250ms;
}

table tbody tr td :hover {
    padding: 12px;
}

mat-form-field {
    width: 220px;
}