<div class="container" style="margin-top: 100px;">
    <p class="lead">
        <em>You can upload/download txt/xlsx(excel) file from this page</em>
    </p>
    <hr>
    <br>
    <div *ngFor="let progressInfo of progressInfos" class="mb-2">
        <span><em>{{ progressInfo.fileName }}</em></span>
        <div class="progress" style="margin:10px 0 10px 0">
            <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" attr.aria-valuenow="{{ progressInfo.value }}" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{ width: progressInfo.value + '%' }">
                {{ progressInfo.value }}%
            </div>
        </div>
    </div>

    <label class="btn btn-default">
        <input  type="file" multiple (change)="selectFiles($event)" accept=".xlsx"/>
      </label>

    <button style="margin-bottom: 7px;" class="btn btn-warning btn-sm" [disabled]="!selectedFiles" (click)="uploadFiles()">
        Upload
      </button>

    <div class="alert alert-light" role="alert">{{ message }}</div>

    <mat-form-field>
        <mat-label>Sort by</mat-label>
        <mat-select>
            <mat-option><button class="dropdown-item" class="list-group-item list-group-item-action" (click)="getFileListOrderByASC()">By file size (ASC)</button></mat-option>
            <mat-option><button class="dropdown-item" class="list-group-item list-group-item-action" (click)="getFileListOrderByDESC()">By file size (DESC)</button></mat-option>
        </mat-select>
    </mat-form-field>

    <table class="table table-hover" style="margin-top: 15px;">
        <thead class="thead-light">
            <tr>
                <th scope="col">FILE NAME</th>
                <th scope="col">FILE TYPE</th>
                <th scope="col">UPLOADED TIME</th>
                <th scope="col" style="text-align: center;">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let fileData of fileList">
                <td>{{fileData.name}}</td>
                <td>{{fileData.type}}</td>
                <td>{{fileData.uploadedTime}}</td>
                <td><button href="#" class="list-group-item list-group-item-action" (click)="downloadFile(fileData)">Download</button></td>

            </tr>
        </tbody>
    </table>
</div>