@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,300&display=swap');
.footer {
    position: absolute;
    z-index: 999;
    bottom: 0;
    width: 100%;
    color: white;
    background-color: #007BFF;
    text-align: center;
}

html,
body {
    height: 100%;
    margin: 0;
}