/* You can add global styles to this file, and also import other style files */

.footer {
    position: absolute;
    z-index: 999;
    bottom: 0;
    width: 100%;
    color: white;
    background-color: #007BFF;
    text-align: center;
}